<div class="card">
<div class="card-body">
    <h5 class="card-title text-uppercase">
    <span class="text-danger">
        <strong>GENERAL</strong>
    </span> Vehicles in operations <small></small>
    <small class="float-right text-muted">{{today| date:'EEEE, dd MMMM y'}}</small>
    </h5>
    <div *ngIf="vFilterDealer">
        <div class="row" *ngFor="let z of dealers" >
            <div class="col-lg-12">
                <strong class="text-uppercase">
                        {{z._id}} 
                </strong>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="z.select" (change)="setFilterZone()">
                    <label for="" class="form-check-label">Select All Zone</label>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" *ngFor="let c of z.cl">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="c.select" (change)="setFilterDealer()">
                    <label for="" class="form-check-label">{{c.cl}}</label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="vFilterYear">
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <strong>Filter by year</strong>
            </div>
            <div class="col-lg-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="selectAllYear" (change)="setFilterAllYear(selectAllYear)">
                    <label for="" class="form-check-label">Select All Years</label>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" *ngFor="let y of year">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="y.select" (change)="setFilterYear()">
                    <label for="" class="form-check-label">{{y.year}}</label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="vFilterModel">
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <strong>Filter by Model</strong>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="selectAllModel" (change)="setFilterAllModel(selectAllModel)">
                    <label for="" class="form-check-label">Select All Model</label>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" *ngFor="let m of model">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="m.select" (change)="setFilterModel()">
                    <label for="" class="form-check-label">{{m.model}}</label>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="vFilterWarranty">
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <strong>Filter by StatusWarranty</strong>
            </div>
            <div class="col-lg-3" *ngFor="let s of statusWarranty">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="s.select" (change)="setFilterUw()">
                    <label for="" class="form-check-label">{{s.status}}</label>
                </div>
            </div>
        </div>
    </div>
    
    

     <br>
    <div class="row">
        <div class="col">
            <button class="btn btn-sm btn-outline-secondary" (click)="vFilterDealer=!vFilterDealer">Filter by Dealer</button>
            <button class="btn btn-sm btn-outline-secondary" (click)="vFilterYear=!vFilterYear">Filter by Year</button>
            <button class="btn btn-sm btn-outline-secondary" (click)="vFilterModel=!vFilterModel">Filter by Model</button>
            <button class="btn btn-sm btn-outline-secondary" (click)="vFilterWarranty=!vFilterWarranty">Filter by Warranty Status</button>
            <button class="btn btn-sm btn-outline-primary" (click)="getData()">Generate Report</button>
        </div>
    </div>
    
</div>
</div> <br>
<div class="card" *ngIf="typeUse[0]">
    <div class="card-body">
        <h5 class="card-title">
           VIO Report of {{filter.uw}} <small> {{today| date:'EEEE, dd MMMM y'}} </small>
           <button class="btn btn-sm btn-primary float-right" (click)="getReportExcel()" >
               <i class="fas fa-file-excel"></i> Exports to Excel
           </button>
        </h5>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body max-height">
                        <div class="card-title">
                            <strong>Total by Year Model</strong>
                        </div>
                        <ngx-charts-advanced-pie-chart
                        [scheme]="AdvancedPieChart"
                        [results]="totalByYear"
                        [gradient]="gradient"
                        (select)="onSelect($event)">
                        </ngx-charts-advanced-pie-chart>
                    </div>
                </div>    
            </div>
        </div> <br>

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <strong>Total by Use Type</strong>
                        </div>
                        <ngx-charts-bar-horizontal
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="typeUse"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)">
                        </ngx-charts-bar-horizontal>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <strong>Top 5 Dealer</strong>
                        </div>
                        <ngx-charts-pie-chart
                        [view]="view"
                        [scheme]="colorSchemePie"
                        [results]="totalByCl"
                        [legend]="true"
                        [labels]="true"
                        (select)="onSelect($event)">
                        </ngx-charts-pie-chart>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <strong>Top Model</strong>
                        </div>
                        <div class="row text-center">
                            <ngx-charts-pie-grid
                            [view]="viewGridPie"
                            [scheme]="gridPieChart"
                            [results]="totalByModel"
                            (select)="onSelect($event)">
                            </ngx-charts-pie-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row max-height">
            <div class="col-lg-12">
                    <div class="card-title">
                            <strong>Origin</strong>
                        </div>
                <ngx-charts-number-card
                [scheme]="colorNumberCard"
                [bandColor]="bandColor"
                [results]="totalByFrom"
                (select)="onSelect($event)">
                </ngx-charts-number-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body font-weight-light text-justify text-sm">
                        <strong>Data Include From: Dealers: </strong> 
                        <span *ngFor="let d of filter?.dealer">
                           <span class="text-uppercase">{{d}}, </span>
                        </span>
                        <strong>Models: </strong>
                        <span *ngFor="let m of filter?.model">
                            {{m}}, 
                        </span>
                        <strong>Years Model: </strong>
                        <span *ngFor="let y of filter?.year">{{y}}, </span>
                        <strong>KMC: </strong> Korea
                        <strong>CKD KMC: </strong> Ecuador
                        <strong>KMM: </strong> Mexico
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="!typeUse[0]">
    <div class="card-body text-center"> <br><br>
        <i class="text-primary fas fa-circle-notch fa-pulse fa-3x"></i> <br>
        <h3 class="text-muted">Estamos trabajando... </h3> <br><br>
        <!-- <p>
        <br><br>
        <small>Recuerde incluir el total de 17 caracteres en el campo de búsqueda, tenga en cuenta que las
            letas: I, O, Q, y Ñ no son utilizadas en ningún vin.
        </small>
        </p> -->
    </div>
</div>

<!-- <pre>{{info|json}}</pre> -->
<!-- 
<ngx-charts-advanced-pie-chart
[scheme]="AdvancedPieChart"
[results]="totalByYear"
[gradient]="gradient"
(select)="onSelect($event)">
</ngx-charts-advanced-pie-chart> -->