<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">
      KASC <small>Términos y Condiciones</small>
    </h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita neque esse quos tempore explicabo recusandae, quae sapiente. Aspernatur cum maxime harum nulla nihil! Illum excepturi, cumque voluptas ipsum quis omnis!
    </p>
    <a href="http://localhost:4200" class="btn-primary btn btn-sm">LogIn</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <div class="list-group">
        <a class="list-group-item list-group-item-action">Item No 1</a>
      </div>
      <div class="list-group">
        <a class="list-group-item list-group-item-action">Item No 1</a>
      </div>
      <div class="list-group">
        <a class="list-group-item list-group-item-action">Item No 1</a>
      </div>
      <div class="list-group">
        <a class="list-group-item list-group-item-action">Item No 1</a>
      </div>
    </div>
    <div class="col-log-10">
      <div id="primero" >
        <div class="container">
          <h2 class="">
            Primero <small>Text secondary</small>
          </h2>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolores, quaerat voluptate est 
            expedita aliquam porro molestiae quasi sint obcaecati minima consequuntur architecto doloremque 
            reiciendis non perspiciatis repudiandae iure accusamus. Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Qui, necessitatibus nesciunt. Odio, maxime aspernatur porro dolorem eveniet 
            placeat ex at quisquam? Molestiae officia ut impedit reiciendis excepturi, eius magnam quos.
            lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad saepe cupiditate ullam unde f
            acilis pariatur sapiente obcaecati, accusantium adipisci minus, harum veritatis eos odit labore 
            quis, totam exercitationem possimus quae.
          </p>
        </div>
      </div><br>
      <div id="primero" >
        <div class="container">
          <h2 class="">
            Primero <small>Text secondary</small>
          </h2>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolores, quaerat voluptate est 
            expedita aliquam porro molestiae quasi sint obcaecati minima consequuntur architecto doloremque 
            reiciendis non perspiciatis repudiandae iure accusamus. Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Qui, necessitatibus nesciunt. Odio, maxime aspernatur porro dolorem eveniet 
            placeat ex at quisquam? Molestiae officia ut impedit reiciendis excepturi, eius magnam quos.
            lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad saepe cupiditate ullam unde f
            acilis pariatur sapiente obcaecati, accusantium adipisci minus, harum veritatis eos odit labore 
            quis, totam exercitationem possimus quae.
          </p>
        </div>
      </div>
      <div id="primero" >
        <div class="container">
          <h2 class="">
            Primero <small>Text secondary</small>
          </h2>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolores, quaerat voluptate est 
            expedita aliquam porro molestiae quasi sint obcaecati minima consequuntur architecto doloremque 
            reiciendis non perspiciatis repudiandae iure accusamus. Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Qui, necessitatibus nesciunt. Odio, maxime aspernatur porro dolorem eveniet 
            placeat ex at quisquam? Molestiae officia ut impedit reiciendis excepturi, eius magnam quos.
            lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad saepe cupiditate ullam unde f
            acilis pariatur sapiente obcaecati, accusantium adipisci minus, harum veritatis eos odit labore 
            quis, totam exercitationem possimus quae.
          </p>
        </div>
      </div>
      <div id="primero" >
        <div class="container">
          <h2 class="">
            Primero <small>Text secondary</small>
          </h2>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolores, quaerat voluptate est 
            expedita aliquam porro molestiae quasi sint obcaecati minima consequuntur architecto doloremque 
            reiciendis non perspiciatis repudiandae iure accusamus. Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Qui, necessitatibus nesciunt. Odio, maxime aspernatur porro dolorem eveniet 
            placeat ex at quisquam? Molestiae officia ut impedit reiciendis excepturi, eius magnam quos.
            lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad saepe cupiditate ullam unde f
            acilis pariatur sapiente obcaecati, accusantium adipisci minus, harum veritatis eos odit labore 
            quis, totam exercitationem possimus quae.
          </p>
        </div>
      </div>
      <div id="primero" >
        <div class="container">
          <h2 class="">
            Primero <small>Text secondary</small>
          </h2>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolores, quaerat voluptate est 
            expedita aliquam porro molestiae quasi sint obcaecati minima consequuntur architecto doloremque 
            reiciendis non perspiciatis repudiandae iure accusamus. Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Qui, necessitatibus nesciunt. Odio, maxime aspernatur porro dolorem eveniet 
            placeat ex at quisquam? Molestiae officia ut impedit reiciendis excepturi, eius magnam quos.
            lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad saepe cupiditate ullam unde f
            acilis pariatur sapiente obcaecati, accusantium adipisci minus, harum veritatis eos odit labore 
            quis, totam exercitationem possimus quae.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
