  <body class="my-login-page">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="brand">
              <!-- <img src="../../assets/lg_kia.png"> -->
            </div>
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">[KASC] <small>Kia After Sales Consulting</small></h4>
                 
                  <div class="form-group">
                    <label for="email">E-Mail Address</label>
                    <input [(ngModel)]="user.email" type="email" class="form-control" placeholder="E-Mail Address" required autofocus>
                  </div>
  
                  <div class="form-group">
                    <label for="password">Password
                      <a class="float-right" (click)="getNewPass()">
                        Forgot Password?
                      </a>
                    </label>
                    <input  [(ngModel)]="user.password" type="password" class="form-control" required data-eye placeholder="Password" >
                  </div>
  
                  <div class="form-group no-margin">
                    <ngb-alert type="warning" (close)="closeAlert()" *ngIf="message?.error?.message">
                      {{message.error.message}}
                    </ngb-alert>
                    <button (click)="singIn()" class="btn btn-primary btn-block">
                      Login
                    </button>
                  </div>
                  <div class="margin-top20 text-center">
                    Conoce nuestros <a (click)="goTo('terms')" >Términos y Condiciones</a>
                  </div>
              </div>
            </div>
            <div class="footer">
              Copyright &copy; 2018 &mdash; METROKIA IMPORTADORA POSVENTA
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>