<div class="row">
  <div class="col">
    <div class="card no-border">
      <div class="card-body ">
        <h5 class="card-title">
          <span class="text-uppercase">
            Indicadores de satisfacción
          </span>
        </h5>
        <div class="chart">
          <canvas id="five" #itemCinco></canvas>
        </div>
        <div class="row" *ngIf="kacsPerDate.values[0] && loyaltyPerDate.values[0] && frftPerDate.values[0]">
          <div class="col">
            <table class="table table-bordered table-sm">
              <thead class="">
                <tr class="text-uppercase bg-primary text-light">
                  <th>
                    <span>Periodo</span>
                  </th>
                  <th>
                    <span>kacs q24</span>
                  </th>
                  <th>
                    <span>Lealtad</span>
                  </th>
                  <th>
                    <span>frft</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active">
                  <th>
                    Objetivo
                  </th>
                  <th>
                    86
                  </th>
                  <th>
                    44
                  </th>
                  <th>
                    95
                  </th>
                </tr> 
                <tr *ngFor="let per of kacsPerDate.labels; let i = index">
                  <td>{{per}}</td>
                  <td>
                    <span [ngClass]="{'text-ok': kacsPerDate.values[i]>86,
                        'text-urgente':this.kacsPerDate.values[i]<86}" >
                        {{this.kacsPerDate.values[i]}}
                    </span>
                  </td>
                  <td>
                    <span [ngClass]="{'text-ok':loyaltyPerDate.values[i]>44,
                      'text-urgente':this.loyaltyPerDate.values[i]<45}" >
                        {{this.loyaltyPerDate.values[i]}}
                    </span>
                  </td>
                  <td>
                    <span [ngClass]="{'text-ok':frftPerDate.values[i]>95,
                      'text-urgente':this.frftPerDate.values[i]<94}">
                      {{this.frftPerDate.values[i]}}
                    </span>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
          <div class="col">
            <table class="table table-bordered table-sm">
              <thead class="">
                <tr class="bg-primary text-light text-uppercase">
                  <th colspan="2" class="text-center" >Total Encuestados</th>
                </tr>
                <tr class="table-active">
                  <th>Periodo</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let per of this.loyaltyPerDate.totals; let i =index">
                  <td>{{this.loyaltyPerDate.labels[i]}}</td>
                  <td>{{per}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col text-right">
            <!-- reservado para el total de entradas -->
            <img src="../../../../assets/kia-flc.png" class="logo-kia-flc" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
   <div class="card no-border">
     <div class="card-body">
       <div class="row">
         <div class="col">
           <div class="form-group">
             <label for="">Desde</label> <br>
             <div class="input-group input-group-sm">
               <input type="text" class="form-control form-control-sm" name="dp" [(ngModel)]="fDate" ngbDatepicker #da="ngbDatepicker" placeholder="yyyy-mm-dd">
               <div class="input-group-append">
                 <button class="btn btn-primary" (click)="da.toggle()" type="button">
                   <i class="fas fa-calendar-alt"></i>
                 </button>
               </div>
             </div>
           </div>
         </div>
         <div class="col">
           <div class="form-group">
             <label for="">Hasta</label> <br>
             <div class="input-group input-group-sm">
               <input type="text" class="form-control form-control-sm" name="dp" [(ngModel)]="tDate" ngbDatepicker #db="ngbDatepicker" placeholder="yyyy-mm-dd">
               <div class="input-group-append">
                 <button class="btn btn-primary" (click)="db.toggle()" type="button">
                   <i class="fas fa-calendar-alt"></i>
                 </button>
               </div>
             </div>
           </div>
         </div>
         <!-- <div class="col"></div> -->
         <div class="col">
           <label for="">Grupo</label>
           <select name="" id="" class="form-control form-control-sm" [(ngModel)]="dealerSelect" >
             <option value="all">ALL GROUP</option>
             <option value="{{g?.group}}" *ngFor="let g of dealerByGroup">{{g?.group}}</option>
           </select>
         </div>
         <div class="col">
           <label for="">Periodos</label>
           <select name="" id="" class="form-control form-control-sm" [(ngModel)]="periodos">
             <option value="1">
               <span class="text-uppercase">Mes</span>
             </option>
             <option value="4">
               <span class="text-uppercase">Trimestre</span>
             </option>
             <option value="6">
               <span class="text-uppercase">Semestre</span>
             </option>
             <option value="12">
               <span class="tex-uppercase">Año</span>
             </option>
           </select>
         </div>
         <div class="col"></div>
       </div>
       <div class="row">
         <div class="col">
             <button class="btn btn-primary btn-sm" (click)="setFilter()">Get Data</button>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>
<section>
  <p class="text-muted text-sm text-justify">
    <strong class="text-uppercase">Data include:</strong> from: {{search.fromDate}} to: {{search.toDate}}, dealers: 
  <span *ngFor="let i of search.group; let j=index">{{i}} <span *ngIf="j<search.group.length -1">,</span> </span>
    <br> Posventa Importadora | <strong>Metrokia S.A</strong>
  </p>
</section>


<ng-template #msg let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      {{messages.title}}
    </h4>
    <button type="button" class="close" aria-label="close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{messages.msg}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light" (click)="c('Close click')">Lo siento</button>
    <button class="btn btn-primary" (click)="c('Close click')">Ok</button>
  </div>
</ng-template>
